!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintmedium
Xft.lcdfilter:              lcddefault

URxvt*termName:             rxvt-unicode
URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.saveLines:            1000
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           true
! URxvt*font:                 xft:Inconsolata:pixelsize=15
! URxvt*boldFont:             xft:Inconsolata:pixelsize=15
URxvt*font:                 xft:Monaco:pixelsize=14
URxvt*boldFont:             xft:Monaco:pixelsize=14

! Fix font space
! URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
! URxvt.perl-ext:     
! URxvt.perl-ext-common:
! URxvt.matcher.button:       1
! URxvt.urlLauncher:          firefox

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Colors
! Snazzy - Converted from https://github.com/sindresorhus/iterm2-snazzy
!          using https://github.com/richo/itermcolors2xdefaults
URxvt*foreground:   #eff0eb
URxvt*background:   #282a36
URxvt*cursorColor:   #e4e4e4
!All colors are in order (#)Light (#+8)Dark
!black
URxvt*color0:   #686868
URxvt*color8:   #333333
!Red
URxvt*color1:   #ff5c57
URxvt*color9:   #ff5c57
!Green
URxvt*color2:   #5af78e
URxvt*color10:   #5af78e
!Yellow
URxvt*color3:   #f3f99d
URxvt*color11:   #f3f99d
!Blue
URxvt*color4:   #57c7ff
URxvt*color12:   #57c7ff
!Magenta
URxvt*color5:   #ff6ac1
URxvt*color13:   #ff6ac1
!Cyan
URxvt*color6:   #9aedfe
URxvt*color14:   #9aedfe
!White
URxvt*color7:   #e4e4e4
URxvt*color15:   #f2f2f2
