!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintmedium
Xft.lcdfilter:              lcddefault

URxvt*termName:             rxvt-unicode
URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.saveLines:            1000
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           true
! URxvt*font:                 xft:Inconsolata:pixelsize=15
! URxvt*boldFont:             xft:Inconsolata:pixelsize=15
URxvt*font:                 xft:Monaco:pixelsize=14
URxvt*boldFont:             xft:Monaco:pixelsize=14

! Fix font space
! URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
! URxvt.perl-ext:     
! URxvt.perl-ext-common:
! URxvt.matcher.button:       1
! URxvt.urlLauncher:          firefox

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Colors
! Snazzy - Converted from https://github.com/sindresorhus/iterm2-snazzy
!          using https://github.com/richo/itermcolors2xdefaults
#define FG #eff0eb
#define BG #282a36
URxvt*foreground:   FG
URxvt*background:   BG

#define DARKWHITE #e4e4e4
URxvt*cursorColor:  DARKWHITE
!All colors are in order (#)Light (#+8)Dark
!black
#define BLACK #333333
#define DARKBLACK #686868
URxvt*color0:   DARKBLACK
URxvt*color8:   BLACK
!Red
#define RED #ff5c57
URxvt*color1:   RED
URxvt*color9:   RED
!Green
#define GREEN #5af78e
URxvt*color2:   GREEN
URxvt*color10:   GREEN
!Yellow
#define YELLOW #f3f99d
URxvt*color3:   YELLOW
URxvt*color11:   YELLOW
!Blue
#define BLUE #57c7ff
URxvt*color4:   BLUE
URxvt*color12:   BLUE
!Magenta
#define MAGENTA #ff6ac1
URxvt*color5:   MAGENTA
URxvt*color13:   MAGENTA
!Cyan
#define CYAN #9aedfe
URxvt*color6:   CYAN
URxvt*color14:   CYAN
!White
#define WHITE #f2f2f2
URxvt*color7:   DARKWHITE
URxvt*color15:   WHITE



!Rofi colors
! State:           'bg',    'fg',   'bgalt',    'hlbg',     'hlfg'
rofi.color-normal: BG,      FG,     BLACK,      BLUE,       BLACK
rofi.color-urgent: BG,      FG,     BLACK,      BLUE,       DARKWHITE 
rofi.color-active: BG,      FG,     BLACK,      BLUE,       DARKWHITE 

!                  'background', 'border', 'separator'
rofi.color-window: BG,              BG,             FG
!
